In [263]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
ds = pd.read_csv('train.csv')
dataset = pd.DataFrame(ds)
#plt.scatter(dataset.Age,dataset.Survived)
dataset['Civ'] = dataset['Name'].str.split(',').str[1].str.split('.').str[0]
#dataset['Name_len'] = dataset['Name'].str.len()
#dataset['Pre_name'] = dataset['Name'].str.split(',').str[0]
dataset['Cabin_type'] = dataset.Cabin.loc[:].str[0]
#dataset['Ticket1'] = dataset['Ticket'].str.split('/').str[0]#dataset['Cabin_number'] = dataset.Cabin.loc[:].str[1:]
#dataset.corr()
dataset['Ticket1'] = dataset.Ticket.apply(lambda x: x[:1] if str(x[:1])else "U")

dataset['Familly_number'] = dataset.SibSp + dataset.Parch
dataset = dataset.drop(['Name','PassengerId','Cabin','SibSp','Parch','Fare','Ticket'], axis=1)
dataset = dataset.fillna(dataset.mean()) 
dataset = dataset.fillna("Unknown")
dataset=pd.get_dummies(dataset,drop_first=True)
y=dataset.Survived
X=dataset.loc[:,dataset.columns!='Survived']
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_x.fit(X)
X = sc_x.transform(X)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                   test_size=.25,
                                                   random_state = 0)

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

classifier.score(X_train,y_train)

classifier.score(X_test,y_test)

/Users/djalel.meftouh/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/djalel.meftouh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
/Users/djalel.meftouh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8385650224215246

In [247]:
ds = pd.read_csv('train.csv')
dataset = pd.DataFrame(ds)
#plt.scatter(dataset.Age,dataset.Survived)

In [248]:
dataset['Civ'] = dataset['Name'].str.split(',').str[1].str.split('.').str[0]
#dataset['Name_len'] = dataset['Name'].str.len()
#dataset['Pre_name'] = dataset['Name'].str.split(',').str[0]

In [249]:
dataset['Cabin_type'] = dataset.Cabin.loc[:].str[0]
#dataset['Ticket1'] = dataset['Ticket'].str.split('/').str[0]#dataset['Cabin_number'] = dataset.Cabin.loc[:].str[1:]
#dataset.corr()
dataset['Familly_number'] = dataset.SibSp + dataset.Parch

In [250]:
dataset = dataset.drop(['Name','PassengerId','Cabin','Ticket','SibSp','Parch','Fare'], axis=1)

In [251]:
dataset = dataset.fillna(dataset.mean()) 
dataset = dataset.fillna("Unknown")

In [252]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [253]:
dataset.head()

,Survived,Pclass,Age,Fare,Familly_number,Sex_male,Embarked_Q,Embarked_S,Embarked_Unknown,Civ_ Col,...,Civ_ Sir,Civ_ the Countess,Cabin_type_B,Cabin_type_C,Cabin_type_D,Cabin_type_E,Cabin_type_F,Cabin_type_G,Cabin_type_T,Cabin_type_Unknown
0,0,3,22.0,7.2500,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,38.0,71.2833,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,3,26.0,7.9250,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,35.0,53.1000,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,3,35.0,8.0500,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [254]:
y=dataset.Survived
X=dataset.loc[:,dataset.columns!='Survived']

In [255]:
X.head()

,Pclass,Age,Fare,Familly_number,Sex_male,Embarked_Q,Embarked_S,Embarked_Unknown,Civ_ Col,Civ_ Don,...,Civ_ Sir,Civ_ the Countess,Cabin_type_B,Cabin_type_C,Cabin_type_D,Cabin_type_E,Cabin_type_F,Cabin_type_G,Cabin_type_T,Cabin_type_Unknown
0,3,22.0,7.2500,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,3,26.0,7.9250,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,3,35.0,8.0500,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [256]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
sc_x.fit(X)
X = sc_x.transform(X)

/Users/djalel.meftouh/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/djalel.meftouh/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [257]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                   test_size=.25,
                                                   random_state = 0)

In [258]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train,y_train)

/Users/djalel.meftouh/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [259]:
classifier.score(X_train,y_train)

0.8368263473053892

In [260]:
classifier.score(X_test,y_test)

0.8340807174887892